
form {
   width: 550px;
   height: 450px;
   margin: auto;
   position: relative;
 }
 /*
 fieldset { 
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
*/